* { box-sizing: border-box; }

svg {
    width: 100%;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

.step {
    height: 90px;
    padding: 5px;
    text-align: center;
}

.active {
    background: #4B0082;
    color: #fff;
}

input {
    transform: scale(3);
    transform-origin: 50% 0;
}

button {
    margin-top: 20px;
}